* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.featured-product {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.featured-product-title {
    margin: 20px;
}

.featured-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}