a {
    font-weight: 700;
}

.inicio {
    width: 100%;
}

.inicio-hero {
    position: relative;
    width: 100%;
}

.inicio-hero-img {
    width: 100%;
}

.inicio-hero-button {
    position: absolute;
    top: 60%;
    left: 10%;
    padding: 10px 30px;
    background-color: white;
    font-weight: 700;
    border: 0PX;
}

.secciones-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 40px auto;
}

.secciones-card {
    width: 30%;
    max-width: 300px;
    margin: 0px 10px;
}

.secciones-card-img {
    width: 100%;
}

.articulos {
    margin: 0 auto;
    padding: 30px 0;
    width: 80%;
}

.articulos-card {
    text-align: center;
}

.articulos-title {
    font-size: 3rem;
    padding-bottom: 100px;
}

.articulos-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.articulos-card-img {
    width: 100%;
}