.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 1px 0px black;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin: 0 50px;
}

.header-logo {
    width: 100px;
}

.header-usuario {
    width: 40px;
}